<ion-header>
  <ion-toolbar>
    <ion-title>
      Espiar 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
      <ion-card-content>
        <ion-button color="secondary" expand="full">Generar Espía</ion-button>
      </ion-card-content>
      <br>
      <ion-item>
          <ion-textarea placeholder="El link espía aparecerá aquí..."></ion-textarea>
        </ion-item>
      <br>
      <div text-right>
          <a href="">Copiar link...  </a>
        </div>
    </ion-card>

    <ion-card-content>
      <ion-item>
          <ion-label>Espiar</ion-label>
          <ion-select placeholder="Selecciona Uno">
            <ion-select-option value="p">Pedro</ion-select-option>
            <ion-select-option value="m">María</ion-select-option>
          </ion-select>
        </ion-item>
      <br>
      <ion-item>
          <ion-textarea placeholder="Estado..."></ion-textarea>
        </ion-item>
      <br>
    </ion-card-content>
</ion-content>
