<ion-header>
  <ion-toolbar>
    <ion-title>
      Asesoría
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cij-card">
    <ion-img style="width: 100%; height: 10%;" src="/assets/imagenes/cijFres.jpg"></ion-img>
    <ion-card-header>
     
      <ion-card-title><a href="http://www.cij.gob.mx/Redatencion/detallecentros.asp?cec=9893">CIJ Fresnillo</a></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Calle 3 de mayo #402 Col. Obrera C.P. 99060 Fresnillo, Zac</p>
      <p>Telefonos: 01(493) 983 72 52</p>
      <p>E-mail: cijfresnillo@cij.gob.mx</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="linea-ayuda-card">
    <ion-card-header>
      <ion-card-title style="font-size:20px">Línea de la Vida: Volantes padres</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Telefono: 01 800 911 2000</p>
      <!--<p>¿Alguno de tus seres queridos consume drogas? Sabemos lo importante que son para ti ¡Acércate a ellos, antes de que las drogas lo hagan!</p>-->
    </ion-card-content>
  </ion-card>
</ion-content>
